@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Sans:wght@500&family=Dancing+Script:wght@600&family=Heebo&family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;700&family=Oswald&family=Outfit&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@100;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Sans:wght@500&family=Dancing+Script:wght@600&family=Heebo&family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;700&family=Oswald&family=Outfit&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@100;300;900&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Sans:wght@500&family=Dancing+Script:wght@600&family=Heebo&family=Inconsolata:wght@700&family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;700&family=Oswald&family=Outfit&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@100;300;900&family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text: #333333;
    --btn-bgcolor: #333333;
    --btn-text: #FFFFFF;
    --background: #FFFFFF;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;   
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    padding: 5px;
    position: absolute;
    font-family: "Inconsolata", monospace;
    left: 30px;
    top:0px;
    margin-bottom: 0px;
}
.container{
    width:900px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    
}
.image{
    width:450px;
    height: 450px;
     padding: 5px;
}
.content{
    width:450px;
    height: 450px;
     padding: 5px;
}

img{
    width: 400px;
    height: 420px;
    margin-left: 30px;   
    margin-top: 20px;
}
h2{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Space Mono;
    font-weight: 700;
    font-size: 45px;    
   
}
p{
    font-family: Space Mono;
    font-size: 20px;
    font-weight: 400;
    margin-top: 90px;
}

button{
    padding: 20px;
    outline: none;
    border: none;
    font-family: Space Mono;
    font-size: 15px;
    margin-top: 30px;
    text-transform: uppercase;
    background: var(--btn-bgcolor);
    color:var(--btn-text);
    letter-spacing: 1px;
}

.writerinfo{
    position: absolute;
    top:690px;
    left: 480px;
    color: #bdbdbd;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height:50px;    
}
.writerinfo > p{
    position: relative;
    /* border: 1px solid saddlebrown; */
    margin-top: 0px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #bdbdbd;
}

@media only screen and (max-width:320px) {
  html, body{
    width:320px;
    height:700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin: 0;
   }
   h1{
        font-size: 25px;
    }
    .container{
    display: flex;
    flex-direction: column;
    width:320px;
    margin-top: 70px;
    height: 350px;
    border:0px
   }
   .image{
    width: 320px;
    border:0px;
     }
   img{
    width: 220px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    object-fit: contain;
   }
  
  .content{
    width: 320px;
    border:0px;
  }
  h2{
    width: 220px;
    margin-top: 0px;
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 10px;
    }
    p{
        font-size: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    button{
        width:150px;
        height: 40px;
        font-size: 10px;
        padding: 5px;
        margin-top: 5px;
        margin-left: 10px;
    }
    .writerinfo{
        width:219px;
        height: 30px;
        margin-top: 100px;
        margin-left: 7px;
        position: absolute;
        border: none;
        top:522px;
        left:1px;
       }
      .writerinfo p{
        font-size: 9px;
        width: 220px;
         border: 0;
        outline: 0;
        margin-left: 0px;
        padding: 0;
      }
  
   
 
}