@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Sans:wght@500&family=Dancing+Script:wght@600&family=Heebo&family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;700&family=Oswald&family=Outfit&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@100;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Sans:wght@500&family=Dancing+Script:wght@600&family=Heebo&family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;700&family=Oswald&family=Outfit&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@100;300;900&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=DM+Sans:wght@500&family=Dancing+Script:wght@600&family=Heebo&family=Inconsolata:wght@700&family=Montserrat:wght@400;500&family=Noto+Sans:wght@400;700&family=Oswald&family=Outfit&family=Poppins:wght@300;400&family=Roboto+Mono&family=Roboto:wght@100;300;900&family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text: #333333;
    --btn-bgcolor: #333333;
    --btn-text: #FFFFFF;
    --background: #FFFFFF;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    margin-top: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
}

.container {
    width: 100vw;
    height: 100vh;
     padding: 2px;
    margin: 30px 0 0 120px;
    /* border: 1px solid saddlebrown; */
    display: flex;
    /* justify-content: space-evenly */
    justify-content: center;
    align-items: center;
}

.image {
    width: 40vw;
    height: 90vh;
  }

.content {
   padding-top: 10%;
    width: 45vw;
    height: 90vh;
    font-family: 'Space Mono', monospace;
    /* border:1px solid lawngreen; */
}

img {
    padding-top: 20%;
    width: 100%;
    height: 300px;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    /* letter-spacing: .1px; */
}

p {
    font-size: 9px;
    letter-spacing: .2px;
}

button {
    text-transform: uppercase;
    font-size: 10px;
    background-color: var(--btn-bgcolor);
    color: var(--btn-text);
    outline: none;
    border: none;
    letter-spacing: .4px;
    padding: 7px;
    margin-top: 35px;
}

.writerinfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #BDBDBD;
}

.writerinfo a {
    color: #f7542e;
}

a:link {
    color: #BDBDBD;
}

@media (max-width:360px) {
    
.container {
    width: 320px;
    height: 450px;
    position: absolute;
    top:10px;
     padding: 2px;
     display: flex;
     flex-direction: column;
     justify-content: center;     
     /* border:1px solid gray; */
     margin-left:0px;
 }
 .image{
    /* border: 1px solid lightblue; */
    position: absolute;
    top:0px;
    height:200px;
    width:313px;
    margin-left: 0px;
    margin-bottom: 3px;
 }
 img{
    padding: 0px;
     background-size:auto;
    height: 200px;
 }
 .content{
    /* border:1px solid blue; */
    position: relative;
    padding: 2px;
    width: 312px;
    height: 200px;
    top:80px;        
 }
 h2{
    /* border:1px solid lightsalmon; */
    margin-left: 0;
    margin-right: 0;
    padding-top:0;
    margin-top: 0px;    
    margin-bottom: 0px;
    text-align: center;  
    font-size: 30px;  
 }
 p{     
    /* border: 1px solid orange; */
    font-size: 10px;
    text-align: center;
    font-weight: 400;
  }
 button{
    margin-top: 0px;
    margin-left: 90px;
    /* align-items: center; */
 }
 .writerinfo{
    position: relative;
    top:290px;    
 }
}